@use '/src/styles/variables' as v;

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  width: calc(100% - 4rem);
  position: fixed;
  top: 20px;
  left: 0;
  padding: 0 2rem;
  z-index: 9999;

  &-logo {
    background-color: v.$black;
    border-radius: 5rem;
    color: v.$beige;
    font-size: v.$text-size;
    font-weight: 700;
    line-height: 14.5px;
    padding: 0.5rem 0.75rem;
    text-transform: uppercase;
    transform: rotate(8deg);
  }

  &-pourcentage {
    font-size: v.$text-size;
    font-weight: 700;
  }

  &-button {
    background-color: v.$black;
    border: solid 2px v.$black;
    border-radius: 5rem;
    cursor: pointer;
    height: 30px;
    width: 4rem;

    &-toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: v.$beige;
      border-radius: 50%;
      height: 1.5rem;
      width: 1.5rem;
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;

      &.dark {
        transform: translateX(0);
      }
    }
  }
}
