@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

// Fonts
$font: 'Inter', sans-serif;

// Colors
$beige: #f3f3f1;
$black: #262625;

$purple_light: #ebedff;
$purple_mid: #9fa8fe;
$purple_dark: #8a92e3;

$pink_light: #ffedf5;
$pink_mid: #f588b9;
$pink_dark: #f588b9;

$green_light: #ecffce;
$green_mid: #a2b87e;
$green_dark: #95ae6d;

$blue_light: #badaff;
$blue_mid: 'Allo ?';
$blue_dark: #6b93c0;

$mustard_light: #fffac2;
$mustard_mid: #cac48e;
$mustard_dark: #c2bb82;

$orange_light: #ffbcab;
$orange_mid: #f28164;
$orange_dark: #d46f55;
