@use '/src/styles/variables' as v;

.Cursor {
  display: flex;
  flex-direction: column;
  width: fit-content;

  svg {
    fill: v.$purple_mid;
    stroke: v.$purple_dark;
    stroke-width: 2;
    width: 14px;
    height: 14px;
    transform: rotate(-15deg);
  }

  &-text {
    background-color: v.$purple_mid;
    border: solid 2px v.$purple_dark;
    border-radius: 1.5px 18.5px 18.5px 18.5px;
    color: v.$beige;
    font-size: 0.75rem;
    font-weight: 600;
    margin-left: 0.75rem;
    padding: 0.375rem 0.75rem;
  }
}
