@use '/src/styles/variables' as v;

.Cursor {
  display: flex;
  flex-direction: column;
  width: fit-content;
  transition: transform 0.1s ease-out;

  svg {
    width: 14px;
    height: 14px;
    transform: rotate(-15deg);

    &.blue {
      fill: v.$blue_dark;
    }

    &.green {
      fill: v.$green_mid;
    }

    &.purple {
      fill: v.$purple_mid;
    }

    &.pink {
      fill: v.$pink_mid;
    }

    &.orange {
      fill: v.$orange_mid;
    }

    &.mustard {
      fill: v.$mustard_mid;
    }
  }

  &-text {
    border: solid 2px;
    border-radius: 1.5px 18.5px 18.5px 18.5px;
    color: v.$beige;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 20px;
    margin-left: 0.75rem;
    padding: 0.375rem 0.75rem;

    &.blue {
      background-color: v.$blue_dark;
      border-color: v.$blue_dark;
    }

    &.green {
      background-color: v.$green_mid;
      border-color: v.$green_dark;
    }

    &.purple {
      background-color: v.$purple_mid;
      border-color: v.$purple_dark;
    }

    &.pink {
      background-color: v.$pink_mid;
      border-color: v.$pink_dark;
    }

    &.orange {
      background-color: v.$orange_mid;
      border-color: v.$orange_dark;
    }

    &.mustard {
      background-color: v.$mustard_mid;
      border-color: v.$mustard_dark;
    }
  }
}

.Reversed {
  align-items: flex-end;

  svg {
    transform: rotate(60deg);
  }

  .Cursor-text {
    border-radius: 18.5px 1.5px 18.5px 18.5px;
    margin-left: 0rem;
    margin-right: 0.75rem;
  }
}
